<div class="home">
    <div class="elements">
        <div class="element users" routerLink="/admin/users">
            <div class="left-side">
                <header>
                    <h2>Users</h2>
                </header>

                <main>
                    <p>No. <span id="users-quantity"></span></p>
                </main>
            </div>

            <div class="right-side">
                <i class="fa-solid fa-circle-user"></i>
            </div>
        </div>

        <div class="element products" routerLink="/admin/products">
            <div class="left-side">
                <header>
                    <h2>Products</h2>
                </header>

                <main>
                    <p>No. <span id="products-quantity"></span></p>
                </main>
            </div>

            <div class="right-side">
                <i class="fa-solid fa-table"></i>
            </div>
        </div>

        <div class="element sales" routerLink="/admin/sales">
            <div class="left-side">
                <header>
                    <h2>Sales</h2>
                </header>

                <main>
                    <p>No. <span id="sales-quantity">0</span></p>
                </main>
            </div>

            <div class="right-side">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>
</div>