.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #101010;
}

header > h1 {
    cursor: pointer;
    margin: 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.highlight {
    background-color: rgba(255, 255, 255, .3);
    padding: 10px 15px;
    border-radius: 10px;
    transition: .2s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, .4);
    }
}