<div class="msg" id="msg">
</div>

<div class="login">
    <header>
        <h1>Sign up to the App</h1>
    </header>

    <form [formGroup]="form" (ngSubmit)="signUp()" autocomplete="off">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" formControlName="name">

            <div class="errors" *ngIf="(form.controls['name'].invalid && form.controls['name'].touched) 
                || (submitted && form.controls['name'].invalid)">
                <div *ngIf="form.controls['name'].hasError('required')">Name is required</div>
                <div *ngIf="form.controls['name'].hasError('maxlength')">Name cannot exceed 30 characters</div>
            </div>
        </div>

        <div class="field">
            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" formControlName="surname">

            <div class="errors" *ngIf="(form.controls['surname'].invalid && form.controls['surname'].touched) 
                || (submitted && form.controls['surname'].invalid)">
                <div *ngIf="form.controls['surname'].hasError('required')">Surname is required</div>
                <div *ngIf="form.controls['surname'].hasError('maxlength')">Surname cannot exceed 30 characters</div>
            </div>
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" formControlName="email">

            <div class="errors" *ngIf="(form.controls['email'].invalid && form.controls['email'].touched) 
                || (submitted && form.controls['email'].invalid)">
                <div *ngIf="form.controls['email'].hasError('required')">Email is required</div>
                <div *ngIf="form.controls['email'].hasError('pattern')">Email is not valid</div>
            </div>
        </div>

        <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" formControlName="username">

            <div class="errors" *ngIf="(form.controls['username'].invalid && form.controls['username'].touched) 
                || (submitted && form.controls['username'].invalid)">
                <div *ngIf="form.controls['username'].hasError('required')">Username is required</div>
                <div *ngIf="form.controls['username'].hasError('maxlength')">Username cannot exceed 30 characters</div>
            </div>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password">

            <div class="errors" *ngIf="(form.controls['password'].invalid && form.controls['password'].touched) 
                || (submitted && form.controls['password'].invalid)">
                <div *ngIf="form.controls['password'].hasError('required')">Password is required</div>
                <div *ngIf="form.controls['password'].hasError('maxlength')">Password cannot exceed 30 characters</div>
            </div>
        </div>

        <div class="button">
            <button type="submit">Sign up</button>
        </div>
    </form>
</div>